

  .main {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
  }


   .holidays {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
    padding: 10px;
  
  } 
    
 
  
  .card {
    width: 300px;
    height: 400px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
 
   
  .card-img-overlay{
    i{
        width:auto;
        height:auto;
        margin: 5px;
        margin-right: 10px;
        
    }

  
    span{
        text-shadow: 1px 1px 4px white;
        color: black;
    }
}


  
  .bi-heart{
    color: white;
}
.bi-heart-fill{
    color: red;
  
}
  
.price{
  height: 40px;
  background-color: rgb(235, 133, 96);
  padding-top: 10px;
  /* font-weight: bolder; */
  color: white;
  font-size: large;
}


.pagCont{
    padding-top: 1rem;
}


p{
  color: rgba(112, 24, 112, 0.637);
}

.card-subtitle{
  font-weight: bolder;
  font-size: large;
}

h3{
  color: coral;
  font-weight: bolder;
    font-size: x-large;
}


::ng-deep ul > li:not(.active) > a {
  background-color:  rgb(235, 133, 96) !important;
  border-color:  rgb(235, 133, 96) !important;
  
}

::ng-deep ul > li.disabled > span {
  background-color:  rgb(235, 133, 96) !important;
  border-color:  rgb(235, 133, 96) !important; 
  
}

::ng-deep ul > li.active > a {
  background-color:  rgb(235, 133, 96) !important;
  border-color:  rgb(235, 133, 96) !important;

}

::ng-deep ul > li.current > span {
  background-color:  gray !important;
  border-color:  rgb(235, 133, 96) !important;

}


::ng-deep .ngx-pagination .current {
  background-color:  gray !important;
}




::ng-deep pagination-controls {
  background-color:  rgb(235, 133, 96) !important;
 margin-top: -1.5rem !important;
 margin-bottom: -0.9rem !important;
 
} 
 
 

